body{
    background: teal;
}

/* top slide */
.d-block{
    width: 100%;
    height: 610px;
}

/* company project card */
.company-project {
    width: 100%;
    height: 400px;
}
div.google-map{
    width: 100%;
    overflow: hidden;
    height: 500px;
}